node_modules
.next
.git
.gitignore
*.md
api/python
Modelfile*
*.pdf
*.zip
logs
scripts
tts-env
VedicJyotish*
shankar*
bphs*
nakshatra*
vedic*
NirvanaAstro*
*.pdf
de421.bsp
*.txt
*.zip
!next.config.mjs
!postcss.config.mjs
!eslint.config.mjs
*.sh
*.md
*.py
