@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Devanagari&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@layer base {
    html {
        font-family:
            "Noto Sans Devanagari", sans-serif, "Inter", "Geist", ui-sans-serif,
            system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
            "Segoe UI Symbol", "Noto Color Emoji";
    }

    .pulse-animation {
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.7;
        }
    }

    @keyframes slide-in {
        from {
            opacity: 0;
            transform: translateX(-100%);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .animate-slide-in {
        animation: slide-in 0.3s ease-out;
    }

    @keyframes progress-bar-full-to-zero {
        from {
            width: 100%;
        }

        to {
            width: 0%;
        }
    }

    .animate-progress-bar {
        animation: progress-bar-full-to-zero 5000ms linear forwards;
    }

    @keyframes dismiss {
        0% {
            opacity: 1;
        }

        90%,
        100% {
            opacity: 0;
            transform: scale(0);
            font-size: 0.1px;
        }
    }

    @keyframes hide {
        100% {
            height: 0px;
            width: 0px;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
            border: 0px;
        }
    }

    @keyframes loader {
        0%,
        5% {
            top: 2.25rem;
            left: 2.25rem;
            width: 0.5rem;
            height: 0.5rem;
            opacity: 1;
        }

        100% {
            top: 0;
            left: 0;
            width: 5rem;
            height: 5rem;
            opacity: 0;
        }
    }
}
